{% extends 'base.html' %}

{% block content %}
  <div class="container">
  <div class="row">
  We've emailed you instructions for resetting your password, if an account exists with the email you entered.
      You should receive them shortly.
  </div>
  <div class="row">
    If you don't receive an email, please make sure you've entered the email address associated with
      your user account, and check your spam folder.
  </div>
  <div class="text-center">
   <a href="/" class="btn btn-default" type=button">Go back to home page</a>
  </div>
  </div>
{% endblock %}