{% extends 'base.html' %}

{% load static %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
        <div class="card">

          <div class="card-header">Password Reset</div>
          
          <div class="card-body">
            <form method="post" action="{% url 'password_reset' %}">
              {% csrf_token %}
              
              <div class="warning">
                {{ form.non_field_errors }}
              </div>

              <p class="text-muted">
                Submit the following form with the email address associated with your account
                to receive an email with instructions to change your password.
              </p>

              <div class="form-group">
                {% include "includes/form_field.html" with field=form.email inline_label=True %}
              </div>
              
              <br>

              <input class="btn btn-primary" type="submit" id="pwd_reset" value="Reset Password">

            </form>
          </div>

          <div class="card-footer d-flex justify-content-between">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="#0b5ed7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
              <a href="/">Return home</a>
            </span>
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="#0b5ed7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
              <a href="{% url 'password_reset' %}">Forgot your password?</a>
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
