{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
      <div class="col-sm-12">
          <h2 class="page-title">Find your account</h2>
          <div class="col-sm-6">
              <form method="post" action="{% url 'password_reset' %}">
              {% csrf_token %}
              <div class="warning-msg">
                  {{ form.non_field_errors }}
              </div>
              <div class="form-group">
                {% include "includes/form_field.html" with field=form.email inline_label=True %}
              </div>
              <p class="text-muted">Enter your email address associated with your account.
                  You'll receive an email with a link you need
                  to click in order to log in and change your password.</p>
              <input class="btn btn-primary" type="submit" id="pwd_reset" value="Password Reset">
              <a href="/" class="btn btn-default" type=button">Go back to home page</a>
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}
