{% load static %}

<style>
    .help-block {
        color: #333;
        font-style: italic;
        filter: opacity(0.25);
        transition: filter 250ms;
    }
    fieldset:hover .help-block, fieldset:focus-within .help-block {
        filter: opacity(0.75);
    }
</style>

<form method="post">
    {% csrf_token %}
    <div class="error">
        {{ form.non_field_errors }}
        {{ error_message }}
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6 my-2">
            {% include "includes/form_field.html" with field=form.first_name inline_label=True %}
        </div>
        <div class="col-sm-12 col-md-6 my-2">
            {% include "includes/form_field.html" with field=form.last_name inline_label=True %}
        </div>
        <div class="col-sm-12 my-2">
            {% include "includes/form_field.html" with field=form.username inline_label=True %}
        </div>
        <div class="col-md-12 my-2">
            {% include "includes/form_field.html" with field=form.email inline_label=True %}
        </div>
    </div>
    
    <hr><br>

    <div class="form-group">
    </div>
    
    <div class="row">
        <div class="col-md-12 my-2">
            {% include "includes/form_field.html" with field=form.organization inline_label=True %}
        </div>
        <div class="col-md-12 my-2">
            {% include "includes/form_field.html" with field=form.years_of_service inline_label=True %}
        </div>
    </div>

    <hr><br>

    <div class="row">
        <div class="col-md-12 my-2">
            {% include "includes/form_field.html" with field=form.password1 inline_label=True %}
        </div>
        <div class="col-md-12 my-2">
            {% include "includes/form_field.html" with field=form.password2 inline_label=True %}
        </div>
    </div>
    
    <div id="missing-data-div"></div>

    <br>

    <div class="row">
        <input class="btn btn-primary" type="submit" id="signup" value="Register">
    </div>

</form>