@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/antd/4.6.6/antd.css');

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #f99;
  --color-secondary: #9f9;
  --color-black: #10191f;
  --color-dark: #333;
  --color-grey: #a0b0c9;
  --color-light: #e0e0e9;
  --color-white: #f9fffc;
}

body {
  margin: 0;
  font-family: 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

/* layout */

.site-layout {
  display: flex;
  min-height: 100vh !important;
}
.site-header {
  padding: 0 !important;
  transition: padding 250ms;
}
.site-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0;
  transition: padding 250ms;
}
@media (min-width: 600px) {
  .site-header {
    padding: 0 2rem !important;
  }
  .site-body {
    padding: 2rem;
  }
}
.site-content {
  background: #fff;
  padding: 2rem;
  flex: 1;
}
.site-footer {
  text-align: center;
}