<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RoHAnn</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static "rs_core/css/rs_core.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "rs_core/css/home.css" %}"/>
  {% block extra_css %}{% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  {% block extra_js %}{% endblock %}
  {% block extra_head %}{% endblock %}
</head>
<body>
  <div class="container-fluid">
    <div class="row border bg-light py-3">
      <div class="col-sm-3 text-center">
        <div class="vertical-spacing">
          <a href="https://www.ncdot.gov/Pages/default.aspx">
            <img src="/static/rs_core/images/ncdot.png" style="height: 50px;" />
          </a>
        </div>
        <div>
          <a href="https://www.volpe.dot.gov/">
            <img src="/static/rs_core/images/volpe.png" style="width: 180px;" />
          </a>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <h2>Roadway Hazard Finder (RHF)</h2> 
        <p>Accelerating rural road safety using AI to unlock predictive insights from videolog data</p>
        {% if user.is_authenticated and initial_login %}
          <div class="card p-3">
            <h5>Signed in as {{ user.username }} ({{ user.email }}}).</h5>
            <div><a href="{% url 'logout' %}">logout</a></div>
          </div>
        {% endif %}
      </div>
      <div class="col-sm-3 text-center">
        <div class="vertical-spacing">
          <a href="https://www.hsrc.unc.edu/">
            <img src="/static/rs_core/images/hsrc.jpg" style="height: 50px;" />
          </a>
        </div>
        <div>
          <a href="http://renci.org/">
            <img src="/static/rs_core/images/renci.png" style="width: 60px;" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
{% block react_js %}
    {% if user.is_authenticated %}
        <script type="text/javascript" src="/static/rs_core/js/index_bundle.js"></script>
    {% endif %}
{% endblock %}
</html>
