{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if user.is_authenticated %}
    <div>
      Hello {{ user.first_name }}! Look or update your profile <a href="{% url 'account_update' user.id %}">here</a>
      <span style="float: right"><a href="{% url 'logout' %}">Log Out</a></span>
    </div>
    <div>
    <a href="{% url 'get_image_by_name' '318004029191.jpg' %}">Look at a sample image</a>
    </div>
    {% else %}
    <div>
      <a href="{% url 'signup' %}" style="margin-right: 5px">Sign up</a> or <a href="{% url 'login' %}" style="margin-left: 5px">Log In</a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
