{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="container">
    {% if messages %}
      <ul>
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
          {{ message }}
        </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if not user.is_authenticated %}
      <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab deserunt, totam. Nulla voluptate, veritatis nostrum laudantium fugiat expedita quo veniam impedit obcaecati atque corporis eius deserunt libero, ex autem, hic corrupti repellat odio aperiam nemo nesciunt. Error reprehenderit nesciunt repudiandae debitis totam fugit ex, voluptates perferendis ratione facilis dolorum, tenetur!
          </p>
        </div>

        <div class="actions">
          <a href="{% url 'login' %}" class="btn btn-outline-primary btn-lg btn-action">Log In</a>
          <a href="{% url 'signup' %}" class="btn btn-outline-primary btn-lg btn-action">Register</a>
        </div>

        <div class="col-xs-12 col-md-8 offset-md-2">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing, elit. Tenetur, eveniet nemo laboriosam quidem, animi facilis. Illo sed necessitatibus quam veritatis autem quidem, asperiores, id, voluptas maxime facilis commodi aspernatur impedit.
          </p>
        </div>
      </div>
    {% endif %}
  </div>

  {% if user.is_authenticated %}
    <input type="hidden" name="user_id" id="user_id" value="{{ user.id }}"/>
  {% endif %}
  
  <div id="app"></div>

{% endblock %}
