pandas==2.2.3
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
geopandas==1.0.1
shapely==2.0.6
numpy==2.1.2
pillow==11.0.0
matplotlib==3.9.2
opencv-python==4.10.0.84
pyogrio==0.10.0
geopy==2.4.1
